/* your custom css */
.headerTitleWithLogo {

}

.fixedHeaderContainer {
    background: #2FCDC9;
}

.headline {
    background-image: linear-gradient(0deg, #09B2AD 0%, #2FCDC9 100%);
}

.nav-footer {
    background: #081413;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
